.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.arena___fighter-name {
  align-self: center;
}

.fighter-preview___root__stat {
  height: 110px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fighter-preview___root__stat__block {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighter-preview___root__stat__block-name {
  -webkit-text-fill-color: #e94233;
  -webkit-text-stroke-width: 1px;
  font-size: 18px;
  font-family: 'Arial Black';
  font-weight: 700;
  margin-bottom: 5px;
}

.fighter-preview___root__stat__block-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  background: #ffdfa7;
  border: 3px solid #ca9650;
}


.fighter-preview___root__stat__block:hover .fighter-preview___root__stat__block-name{
  color: white;
}

.fighter-preview___root__stat__block:hover .fighter-preview___root__stat__block-item {
  background: #cbe4f8;
  border: 3px solid #267abf;
}

.fighter-preview___root__stat__block-p {
  font-size: 16px;
  color: black;
  font-weight: 400;
  -webkit-text-fill-color: #e94233;
  -webkit-text-stroke-width: 0.5px;
}